<section class="home-wrapper">
  <div class="intro-section">
    <h1>{{ 'home_h1' | translate }}.</h1>
    <p>{{ 'home_p1' | translate }}</p>
    <a (click)="naviagteToAbout()" class="learn-more-button">{{ 'home_a-1' | translate }}</a>
  </div>

  <div class="features-section">
    <div class="feature">
      <h2>{{ 'home_h2-1' | translate }}</h2>
      <p>{{ 'home_p2' | translate }}.</p>
    </div>
    <div class="feature">
      <h2>{{ 'home_h2-2' | translate }}</h2>
      <p>{{ 'home_p3' | translate }}.</p>
    </div>
    <div class="feature">
      <h2>{{ 'home_h2-3' | translate }}</h2>
      <p>{{ 'home_p4' | translate }}.</p>
    </div>
  </div>

  <div class="cta-section">
    <h2>{{ 'home_h2-4' | translate }}?</h2>
    <a (click)="naviagteToContact()" class="cta-button">{{ 'home_a-2' | translate }}</a>
  </div>
</section>
<app-footer></app-footer>
