/* Default styles for mobile devices */
.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  // if we remove z-index we can manipulate background opacity
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, -0.5));
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url('/assets/images/hex-1.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.9;
    transform: translate(-50%, 0%) rotate(90deg);
    width: 250%;
    height: 30%;
  }

  .intro-section {
    padding: 40px 20px;
    margin: 20px 0px 0px 0px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 40px;
    }

    .learn-more-button {
      background: #f7931e;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background 0.3s;

      &:hover {
        background: #b66d01;
      }
    }
  }

  .features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;

    .feature {
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(190, 113, 23, 0.5);
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;

      h2 {
        font-size: 1.4em;
        margin-bottom: 10px;
        -webkit-text-fill-color: #42210b;
      }

      p {
        font-size: 1em;
      }
    }
  }

  .cta-section {
    padding: 40px 20px;

    h2 {
      font-size: 1.6em;
      margin-bottom: 40px;
      -webkit-text-fill-color: #42210b;
    }

    .cta-button {
      background: white;
      color: #d8801c;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      border: 1px solid rgb(66, 33, 11, 0.8);
      font-weight: bold;
      transition: background 0.3s;

      &:hover {
        background: #744f37;
        color: white;
        border: 1px solid white;
      }
    }
  }

  @media (min-width: 378px) {
    &::before {
      transform: translate(-47%, 4%) rotate(90deg);
    }
  }

  @media (min-width: 445px) {
    &::before {
      transform: translate(-50%, 10%) rotate(90deg);
    }
  }

  @media (min-width: 478px) {
    &::before {
      height: 32%;
    }
  }

  @media (min-width: 532px) {
    &::before {
      height: 36%;
    }
  }

  @media (min-width: 600px) {
    &::before {
      transform: translate(-60%, -40%) rotate(0deg);
      height: 50%;
    }

    .features-section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: normal;
      gap: 18px;

      .feature {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    &::before {
      transform: translate(-50%, -50%) rotate(0deg);
      height: 30%;
    }

    .intro-section {
      padding: 60px 30px;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
      }
    }

    .cta-section {
      padding: 60px 30px;

      h2 {
        font-size: 2em;
      }
    }
  }

  @media (min-width: 842px) {
    &::before {
      transform: translate(-50%, -44%) rotate(0deg);
      height: 34%;
    }
  }

  @media (min-width: 900px) {
    &::before {
      transform: translate(-50%, -37%) rotate(0deg);
      height: 40%;
    }
  }

  @media (min-width: 992px) {
    &::before {
      transform: translate(-50%, -20%) rotate(0deg);
      height: 45%;
    }

    .features-section {
      .feature {
        width: 30%;
      }
    }

    .intro-section {
      width: 70%;
    }
  }

  @media (min-width: 1200px) {
    &::before {
      transform: translate(-50%, -5%) rotate(0deg);
      height: 50%;
    }

    .intro-section {
      width: 50%;
    }

    .intro-section,
    .cta-section {
      padding: 80px 40px;
    }

    .intro-section h1,
    .cta-section h2 {
      font-size: 2.5em;
    }

    .intro-section p,
    .cta-section p {
      font-size: 1.5em;
    }
  }

  @media (min-width: 1296px) {
    &::before {
      transform: translate(-50%, -11%) rotate(0deg);
      height: 55%;
    }
  }

  @media (min-width: 1400px) {
    &::before {
      transform: translate(-50%, -12%) rotate(0deg);
      height: 60%;
    }
  }

  @media (min-width: 1500px) {
    &::before {
      transform: translate(-50%, -11%) rotate(0deg);
      height: 65%;
    }
  }

  @media (min-width: 1900px) {
    &::before {
      transform: translate(-50%, -9%) rotate(0deg);
      height: 75%;
    }
  }

  @media (min-width: 2000px) {
    // background: linear-gradient(23deg, #f7931e 50%, white 50%);
  }

  @media (min-width: 2400px) {
    // background: linear-gradient(19deg, #f7931e 50%, white 50%);
  }
}