
/* Default styles for mobile devices */
.home-wrapper {
  color: white;
  padding: 20px;
  text-align: center;
  background: url('https://images.pexels.com/photos/5011647/pexels-photo-5011647.jpeg') no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .intro-section {
    padding: 20px;
    margin-bottom: 20px;
  }

  .intro-section {
    padding: 40px 20px;
    margin: 20px 0px 0px 0px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 40px;
    }

    .learn-more-button {
      background: #ff9800;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background 0.3s;

      &:hover {
        background: #e68900;
      }
    }
  }

  .features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-bottom: 0px;

    .feature {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;

      h2 {
        font-size: 1.4em;
        margin-bottom: 10px;
        color: white;
      }

      p {
        font-size: 1em;
        color: white;
      }
    }
  }

  .cta-section {
    padding: 40px 20px;

    h2 {
      font-size: 1.6em;
      margin-bottom: 40px;
    }

    .cta-button {
      background: #ff9800;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
      transition: background 0.3s;

      &:hover {
        background: #e68900;
      }
    }
  }

  @media (min-width: 600px) {
    .features-section {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: normal;
      gap: 18px;

      .feature {
        width: 48%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    .intro-section {
      padding: 60px 30px;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
      }
    }

    .cta-section {
      padding: 60px 30px;

      h2 {
        font-size: 2em;
      }
    }
  }

  @media (min-width: 992px) {
    .features-section {
      .feature {
        width: 30%;
      }
    }
  }

  @media (min-width: 1200px) {
    .intro-section, .cta-section {
      padding: 80px 40px;
    }

    .intro-section h1, .cta-section h2 {
      font-size: 2.5em;
    }

    .intro-section p, .cta-section p {
      font-size: 1.5em;
    }
  }
}
