<section id="home-section" class="home-wrapper">
  <div class="intro-section">
    <h1>{{ 'home_h1' | translate }}.</h1>
    <p>{{ 'home_p1' | translate }}</p>
    <a href="#about-section" (click)="scrollTo('about-section')" class="learn-more-button">{{ 'home_a-1' | translate }}</a>
  </div>

  <div class="features-section">
    <div class="feature">
      <h2>{{ 'home_h2-1' | translate }}</h2>
      <p>{{ 'home_p2' | translate }}.</p>
    </div>
    <div class="feature">
      <h2>{{ 'home_h2-2' | translate }}</h2>
      <p>{{ 'home_p3' | translate }}.</p>
    </div>
    <div class="feature">
      <h2>{{ 'home_h2-3' | translate }}</h2>
      <p>{{ 'home_p4' | translate }}.</p>
    </div>
  </div>

  <div class="cta-section">
    <h2>{{ 'home_h2-4' | translate }}?</h2>
    <a href="#contact-section" (click)="scrollTo('contact-section')" class="cta-button">{{ 'home_a-2' | translate }}</a>
  </div>
</section>
<div id="about-section">
  <app-about></app-about>
</div>
<div id="materials-section">
  <app-materials></app-materials>
</div>
<div id="delivery-section">
  <app-delivery></app-delivery>
</div>
<div id="contact-section">
  <app-contact></app-contact>
</div>
<div>
  <app-footer></app-footer>
</div>
