.about-wrapper {
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 60px;

  .about-intro {
    color: white;
    padding: 40px 20px;
    border-radius: 8px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .about-details {
    .about-mission,
    .about-vision,
    .about-team {
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      box-sizing: border-box;
      text-align: start;

      h2 {
        font-size: 1.4em;
        margin-top: 10px;
      }

      p {
        font-size: 1em;
        color: white;
      }
    }
  }

  @media (min-width: 600px) {
    .about-details {
      display: flex;
      flex-direction: column;
      align-items: normal;
      justify-content: space-evenly;

      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    .about-intro {
      padding: 60px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
        max-width: 800px;
      }
    }

    .about-details {
      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 60%;
      }
    }
  }

  @media (min-width: 992px) {
    padding-bottom: 100px;

    .about-details {
      flex-direction: row;
      flex-wrap: wrap;

      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 30%;
      }
    }
  }

  @media (min-width: 1200px) {
    .about-intro {
      padding: 80px 40px;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .about-details {
      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 28%;
      }
    }
  }
}
