<section class="about-wrapper">
  <div class="about-intro">
    <h1>{{ 'about_h1' | translate }}</h1>
    <p>{{ 'about_p-1' | translate }}.</p>
  </div>

  <div class="about-details">
    <div class="about-mission">
      <h2>{{ 'about_h2-1' | translate }}</h2>
      <p>{{ 'about_p-2' | translate }}.</p>
    </div>
    <div class="about-vision">
      <h2>{{ 'about_h2-2' | translate }}</h2>
      <p>{{ 'about_p-3' | translate }}.</p>
      <p>{{ 'about_p-3-1' | translate }}.</p>
    </div>
    <div class="about-team">
      <h2>{{ 'about_h2-3' | translate }}</h2>
      <p>{{ 'about_p-4' | translate }}.</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
