// /* Default styles for mobile devices */
// .about-wrapper {
//   height: 100vh;

//   .img-wrapper {
//     height: 100%;

//     img {
//       width: 100%;
//       height: inherit;
//       object-fit: cover;
//     }
//   }
// }

// @media (min-width: 600px) {
//   .about-wrapper {
//     .img-wrapper {
//       img {
//         object-fit: fill;
//       }
//     }
//   }
// }

// @media (min-width: 768px) {
//   /* Styles for small laptops and larger devices */
// }

// @media (min-width: 992px) {
//   /* Styles for desktops and larger devices */
// }

// @media (min-width: 1200px) {
//   /* Styles for large desktops */
// }

.about-wrapper {
  font-family: Arial, sans-serif;
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
  // background: linear-gradient(135deg, rgb(1, 1, 77), rgb(63, 199, 153));

  .about-intro {
    color: white;
    padding: 40px 20px;
    border-radius: 8px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .about-details {
    .about-mission,
    .about-vision,
    .about-team,
    .about-values,
    .about-history {
      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      background: rgba(255, 255, 255, 0.1); /* Semi-transparent background for features */
      border: 1px solid rgba(255, 255, 255, 0.4);
      width: 100%;
      box-sizing: border-box;

      h2 {
        font-size: 1.4em;
        // margin-bottom: 10px;
        margin-top: 10px;
      }

      p {
        font-size: 1em;
        color: white;
      }
    }
  }

  @media (min-width: 600px) {
    .about-details {
      display: flex;
      flex-direction: column;
      align-items: normal;
      justify-content: space-evenly;

      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }

  @media (min-width: 768px) {
    .about-intro {
      padding: 60px 30px;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
      }
    }

    .about-details {
      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 60%;
      }
    }
  }

  @media (min-width: 992px) {
    .about-details {
      flex-direction: row;
      flex-wrap: wrap;

      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 30%;
      }
    }
  }

  @media (min-width: 1200px) {
    .about-intro {
      padding: 80px 40px;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .about-details {
      .about-mission,
      .about-vision,
      .about-team,
      .about-values,
      .about-history {
        width: 28%;
      }
    }
  }
}
