<footer class="footer-wrapper">
  <div class="left-wrapper">
    <div class="footer-logo">
      <img src="/assets/images/printer1.svg" alt="Company Logo">
      <p>3D Print Lab is a professional printing company that provides top-quality 3D printing services.</p>
      <div class="footer-cta-button">
        <a href="/contact">Contact Us</a>
      </div>
    </div>

    <div class="footer-social">
      <a href="https://www.facebook.com/" target="_blank"><img src="/assets/images/fb-1.svg" alt="ig.svg"></a>
      <a href="https://www.instagram.com/" target="_blank"><img src="/assets/images/insta-1.svg" alt="ig.svg"></a>
      <a href="https://www.linkedin.com/" target="_blank"><img src="/assets/images/linked-1.svg" alt="fb.svg"></a>
    </div>
  </div>

  <div class="footer-nav">
    <div class="company">
      <h3>Company</h3>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/materials">Materials</a></li>
      </ul>
    </div>
    <div class="product">
      <h3>Product</h3>
      <ul>
        <li><a href="/delivery">Delivery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-contact">
    <p><span>Email:</span> <a href="mailto:info@yourcompany.com"> info&#64;yourcompany.com</a></p>
    <p><span>Phone:</span> <a href="tel:+38970986695"> +38970986695</a></p>
    <p><span>Address:</span> Gevgelijska 23-A | Macedonia, Gevgelija 1480</p>
  </div>

  <div class="footer-copy">
    <p>&copy; 2023-{{date}} Your Company Name. All rights reserved.</p>
  </div>
</footer>
