.footer-wrapper {
  padding: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('/assets/images/footer-bg.jpg') no-repeat center center;
  background-size: cover;

  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    cursor: pointer;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50px;
    }

    p {
      text-align: start;
      color: white;
    }

    .footer-cta-button {
      padding: 12px 14px;
      text-decoration: none;
      border-radius: 12px;
      border: 1px solid white;
      font-weight: bold;
      transition: background 0.3s;
      margin-bottom: 30px;

      &:hover {
        background: #e68900;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  .footer-nav {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    h3 {
      -webkit-text-fill-color: #f7931e;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          text-decoration: none;
          color: #ababab;
        }
      }
    }

    .company,
    .product {

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;

        li a:hover {
          color: #e68900;
        }
      }
    }
  }

  .footer-contact {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    width: 100%;

    span {
      -webkit-text-fill-color: #f7931e;
    }

    p {
      margin: 5px 0;
      color: #ababab;

      a {
        color: #ababab;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-social {
    // margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 15px;
    width: 100%;

    .top,
    .bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      a {
        color: #ababab;
        text-decoration: none;

        img {
          filter: invert(100) brightness(150%);
          width: 50px;
          height: 50px;
        }
      }
    }

    .top {
      a {
        &:first-child img {
          height: 60px;
        }

        &:nth-child(2) img {
          height: 49px;
        }

        &:nth-child(3) img {
          height: 52px;
        }
      }
    }

    .bottom {
      align-items: anchor-center;

      a {
        &:first-child img {
          height: 42px;
          padding-left: 3px;
        }

        &:nth-child(2) img {
          height: 49px;
        }

        &:nth-child(3) img {
          height: 60px;
          width: 58px;
        }
      }
    }

    // a {
    //   color: #ababab;
    //   text-decoration: none;

    //   img {
    //     filter: invert(100) brightness(150%);
    //   }

    //   &:first-child img {
    //     height: 50px;
    //   }

    //   &:hover {
    //     text-decoration: underline;
    //   }
    // }

    // a:last-child {
    //   padding: 0 30px;
    // }
  }

  .footer-copy {
    p {
      font-size: 0.8em;
      margin: 0;
      color: #ababab;
    }
  }

  @media (min-width: 600px) {
    .footer-logo img {
      max-width: 200px;
    }
  }

  @media (min-width: 768px) {
    padding: 40px;
  }

  @media (min-width: 992px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .footer-logo img {
      max-width: 250px;
    }

    .left-wrapper {
      width: 50%;
    }

    .footer-nav {
      width: 50%;
      justify-content: flex-end;
      gap: 80px;
      flex-direction: row;
    }

    .footer-contact p,
    .footer-social {

      .top,
      .bottom {
        justify-content: flex-start;
        gap: 40px;
      }

      a {
        font-size: 1.1em;
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 60px 120px;

    .footer-contact p,
    .footer-social a {
      font-size: 1.2em;

      &:first-child img {
        height: 50px;
      }
    }

    .footer-copy p {
      font-size: 0.9em;
    }
  }
}