/* Default styles for mobile devices */
.materials-wrapper {
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 60px;

  .materials-intro {
    color: white;
    padding: 40px 20px;
    border-radius: 8px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .materials-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .material-item {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 1.4em;
        margin-top: 10px;
      }

      p {
        font-size: 1em;
        color: white;
      }
    }
  }

  @media (min-width: 600px) {
    .materials-list {
      .material-item {
        width: 80%;
      }
    }
  }

  @media (min-width: 768px) {
    .materials-intro {
      padding: 60px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
        max-width: 800px;
      }
    }

    .materials-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: normal;

      .material-item {
        width: 48%;
      }
    }
  }

  @media (min-width: 992px) {
    padding-bottom: 100px;
    .materials-list {
      .material-item {
        width: 30%;
      }
    }
  }

  @media (min-width: 1200px) {
    .materials-intro {
      padding: 80px 40px;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .materials-list {
      .material-item {
        width: 28%;
      }
    }
  }
}
