.materials-wrapper {
  background-color: whitesmoke;
  background:
    linear-gradient(to bottom left, transparent 50%, white 50%, white 100%, transparent 100%),
    linear-gradient(to top left, transparent 50%, white 50%, white 100%, transparent 100%),
    #f7931e;
  padding: 40px 20px 0px 20px;
  text-align: center;

  .materials-intro {
    padding: 40px 20px;
    border-radius: 8px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .materials-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .material-item {
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(190, 113, 23, 0.5);
      padding: 20px;
      border-radius: 8px;
      width: 100%;
      margin-bottom: 20px;
      box-sizing: border-box;
      text-align: start;
      position: relative;
      z-index: 1;

      &:first-child::before {
        content: '';
        position: absolute;
        top: -20px;
        left: -10px;
        width: 50px;
        height: 50px;
        background: url('/assets/images/materials1-tara.jpg') no-repeat center center;
        background-size: contain;
        rotate: 50deg;
      }

      &:last-child::before {
        content: '';
        position: absolute;
        bottom: -25px;
        left: -10px;
        width: 50px;
        height: 50px;
        background: url('/assets/images/materials1-tara.jpg') no-repeat center center;
        background-size: contain;
        rotate: -60deg;
      }

      h2 {
        font-size: 1.4em;
        margin-top: 10px;
        -webkit-text-fill-color: #42210b;
      }

      p {
        font-size: 1em;
        max-height: 8em;
        /* Adjust this value to show only 3-4 lines initially */
        overflow: hidden;
        text-overflow: ellipsis;
        transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out;

        &.expanded {
          max-height: 700px;
          /* Allow full content to be shown when expanded */
        }
      }

      button {
        background: transparent;
        border: none;
        background: linear-gradient(135deg, #42210b, #f7931e);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        padding: 0;
        margin-top: 10px;
        font-size: 0.9em;
        text-align: left;
        display: inline-block;
      }
    }
  }

  @media (min-width: 600px) {
    .materials-list {
      .material-item {
        width: 80%;
      }
    }
  }

  @media (min-width: 768px) {
    .materials-intro {
      padding: 60px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
        max-width: 800px;
      }
    }

    .materials-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .material-item {
        padding: 30px;
      }
    }
  }

  @media (min-width: 992px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1200px) {
    .materials-intro {
      padding: 80px 40px;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .materials-list {
      .material-item {
        width: 60%;
      }
    }
  }
}