<section class="materials-wrapper">
  <div class="materials-intro">
    <h1>{{ 'materials_h1' | translate }}</h1>
    <p>{{ 'materials_p-1' | translate }}.</p>
  </div>

  <div class="materials-list">
    <div class="material-item">
      <h2>PLA</h2>
      <p>PLA (Polylactic Acid) is a biodegradable thermoplastic derived from renewable resources. It is ideal for a wide range of applications due to its ease of use and vibrant colors.</p>
    </div>
    <div class="material-item">
      <h2>ABS</h2>
      <p>ABS (Acrylonitrile Butadiene Styrene) is a strong and durable thermoplastic. It is perfect for creating sturdy and long-lasting 3D prints, commonly used in automotive parts and toys.</p>
    </div>
    <div class="material-item">
      <h2>PETG</h2>
      <p>PETG (Polyethylene Terephthalate Glycol) combines the best properties of PLA and ABS. It offers excellent strength, flexibility, and chemical resistance, making it suitable for functional parts.</p>
    </div>
  </div>
</section>
<app-footer></app-footer>
