<section class="contact-wrapper">
  <div class="contact-intro">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Get in touch with us through any of the following methods:</p>
  </div>

  <div class="contact-details">
    <div class="contact-item">
      <h2>Email Us</h2>
      <p class="mail-p"><a href="#">info&#64;yourcompany.com</a></p>
    </div>
    <div class="contact-item">
      <h2>Call Us</h2>
      <p><a href="tel:+38970986695">+38970986695</a></p>
    </div>
    <div class="contact-item">
      <h2>Visit Us</h2>
      <p>Gevgelijska 23-A,<br> Gevgelija, 1480</p>
    </div>
    <div class="contact-item">
      <h2>Follow Us</h2>
      <p class="social-media">
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">LinkedIn</a>
        <a href="#" target="_blank">Instagram</a>
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
