<section class="contact-wrapper">
  <div class="contact-intro">
    <h1>{{ 'contact_h1' | translate }}</h1>
    <p>{{ 'contact_p1-1' | translate }}?</p>
  </div>

 <div class="down-wrapper">
  <div class="contact-details">
    <div class="contact-item">
      <h2>{{ 'contact_h2-2' | translate }}</h2>
      <p class="mail-p">{{ 'contact_p1-2' | translate }} <a href="mailto:info@3dtara.com">info&#64;3dtara.com</a> <br />{{ 'contact_p1-3' | translate }}  <a href="tel:+38972653175">+389 72 653 175</a> {{ 'contact_p1-4' | translate }}.</p>
      <div class="call-info">
        <a href="tel:+38972653175" target="_blank"><img src="/assets/images/viber.svg" alt="viber.svg"></a>
        <a href="tel:+38972653175" target="_blank"><img src="/assets/images/whatsapp.svg" alt="whatsapp.svg"></a>
      </div>
    </div>
    <div class="contact-item">
      <h2>{{ 'contact_h2-1' | translate }}</h2>
      <p>{{ 'contact_p1-5' | translate }}.</p>
      <div class="social-icons-contact">
        <a href="https://www.facebook.com/3dtara3dprintingservice/" target="_blank"><img src="/assets/images/fb-1.svg" alt="fb.svg"></a>
        <a href="https://www.instagram.com/3dtara3dprintingservice/" target="_blank"><img src="/assets/images/insta-1.svg" alt="ig.svg"></a>
      </div>
    </div>
  </div>
  <div class="contact-form">
    <h2>{{ 'contact-form-h2' | translate }}</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">{{ 'contact-form-l1' | translate }}</label>
        <input id="firstName" formControlName="firstName" />
        <div *ngIf="contactForm.controls['firstName'].invalid && contactForm.controls['firstName'].touched" class="error">
          {{ 'contact-form-d1' | translate }}.
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">{{ 'contact-form-l2' | translate }}</label>
        <input id="lastName" formControlName="lastName" />
        <div *ngIf="contactForm.controls['lastName'].invalid && contactForm.controls['lastName'].touched" class="error">
          {{ 'contact-form-d2' | translate }}.
        </div>
      </div>
      <div class="form-group">
        <label for="email">{{ 'contact-form-l3' | translate }}</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="contactForm.controls['email'].invalid && contactForm.controls['email'].touched" class="error">
          {{ 'contact-form-d3' | translate }}.
        </div>
      </div>
      <div class="form-group">
        <label for="message">{{ 'contact-form-l4' | translate }}</label>
        <textarea id="message" formControlName="message"></textarea>
        <div *ngIf="contactForm.controls['message'].invalid && contactForm.controls['message'].touched" class="error">
          {{ 'contact-form-d4' | translate }}.
        </div>
      </div>
      <button type="submit" [disabled]="contactForm.invalid">Send</button>
    </form>
  </div>
 </div>
</section>
