.contact-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px 20px 20px;
  background: radial-gradient(circle at 50% 79%, #F7931E 260px, transparent 15px), white;

  .contact-intro {
    padding: 10px 20px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .contact-item {
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(190, 113, 23, 0.5);
      padding: 20px;
      padding-top: 0;
      border-radius: 8px;
      width: 100%;
      box-sizing: border-box;
      text-align: start;

      h2 {
        font-size: 1.4em;
        margin-bottom: 10px;
        -webkit-text-fill-color: #42210b;
      }

      p {
        font-size: 1em;
        margin: 0;

        a {
          color: #f7931e;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .social-icons-contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 20px;

        a {
          max-width: 50px;
        }

        a:first-child {
          display: flex;
          justify-content: center;
          align-items: normal;
        }
      }

      .call-info {
        padding-top: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .phone-p {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;

      a {
        font-size: 18px;
      }
    }
  }

  .contact-form {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;

    h2 {
      text-align: center;
      font-size: 1.4em;
      margin-bottom: 20px;
      -webkit-text-fill-color: #42210b;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        display: block;
        margin-bottom: 5px;
        color: #42210b;
      }

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      textarea {
        resize: vertical;
        /* Allow only vertical resizing */
        max-width: 100%;
        /* Ensure it doesn’t exceed the width of the container */
        max-height: 150px;
        overflow: auto;
        /* Add scrollbars if needed */
      }

      .error {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
      }
    }

    button {
      background: white;
      color: #f7931e;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 8px;
      border: 1px solid #42210b;
      font-weight: bold;
      transition: background 0.3s;
      font-size: 14px;

      &:disabled {
        background-color: #cccccc;
        color: white;
        cursor: not-allowed;
        border: none;
      }
    }
  }

  .down-wrapper {
    width: 100%;
  }

  @media (min-width: 600px) {
    .contact-details {
      justify-content: center;
      align-items: center;
    }

    .down-wrapper {
      width: 95%;
    }
  }

  @media (min-width: 768px) {
    .contact-intro {
      padding: 60px 30px;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
        max-width: 800px;
      }
    }

    .contact-details {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: normal;
      gap: 14px;
      justify-content: space-between;
    }

    .contact-form {
      form {
        border: 1px solid #42210b;
        border-radius: 8px;
        padding: 25px;

      }
    }
  }

  @media (min-width: 992px) {
    padding-bottom: 100px;

    .down-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contact-details {
      justify-content: center;
      width: 100%;

      .contact-item {
        max-width: 430px;
      }
    }

    .contact-form {
      max-width: 880px;
    }
  }

  @media (min-width: 1200px) {
    background: radial-gradient(circle at 50% 70%, #F7931E 260px, transparent 15px), white;

    .contact-intro {
      padding: 80px 40px;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .down-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      gap: 50px;

      .contact-details {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .contact-item {
          max-width: 520px;
        }
      }

      .contact-form {
        padding: 0;

        max-width: 780px;

        form {
          padding: 25px;
        }
      }
    }
  }
}