<!-- <section class="contact-wrapper">
  <div class="img-wrapper">
    <img src="https://i.pinimg.com/564x/5d/e8/fc/5de8fc6a02b80de4f8e74ad478a6353e.jpg" alt="3d-1">
  </div>
</section> -->

<section class="contact-wrapper">
  <div class="contact-intro">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Get in touch with us through any of the following methods:</p>
  </div>

  <div class="contact-details">
    <div class="contact-item">
      <h2>Email Us</h2>
      <p><a href="mailto:info@yourcompany.com">info&#64;yourcompany.com</a></p>
    </div>
    <div class="contact-item">
      <h2>Call Us</h2>
      <p><a href="tel:+1234567890">+1 234 567 890</a></p>
    </div>
    <div class="contact-item">
      <h2>Visit Us</h2>
      <p>1234 Your Street,<br> Your City, YC 12345</p>
    </div>
    <div class="contact-item">
      <h2>Follow Us</h2>
      <p>
        <a href="https://facebook.com/yourcompany" target="_blank">Facebook</a> |
        <a href="https://twitter.com/yourcompany" target="_blank">Twitter</a> |
        <a href="https://instagram.com/yourcompany" target="_blank">Instagram</a>
      </p>
    </div>
  </div>
</section>
<app-footer></app-footer>
