.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .logo-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    .logo {
      max-height: 42px;
      height: auto;
      transition: fill 0.3s ease;
      fill: #ffffff;

      &.logo-opened {
        fill: black; /* Change the SVG fill to black when drawer is opened */
      }
    }

    .language-menu-mobile {
      display: flex;
      align-items: center;
      margin-left: auto; /* Pushes the menu to the right */
      margin-right: 20px;
    }

    .language-menu-mobile select {
      background: transparent;
      border: none;
      color: inherit;
      font-size: 16px;
      padding: 8px;
      cursor: pointer;
      outline: none;
      -webkit-appearance: none; /* Removes default styling on some browsers */
      appearance: none;
    }

    .language-menu-mobile::before {
      content: '🌐'; /* Adds a globe icon or any other icon you prefer */
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      filter: grayscale(100%);
    }

    /* Styling for options in the dropdown */
    .language-menu-mobile option {
      background: #ababab;
      color: black;
      padding: 8px;
      font-size: 16px;
    }

    /* Hover and active states for options */
    .language-menu-mobile option:hover {
      background: #ababab;
      color: #000;
    }

    .language-menu-mobile option:active {
      background: #ababab;
      color: #000;
    }
  }

  .menu-btn {
    display: block;
    color: white;

    mat-icon {
      color: white;
    }

    &.menu-opened {
      color: black; /* Change color when drawer is opened */

      mat-icon {
        color: black; /* Change icon color when drawer is opened */
      }
    }
  }

  .desktop-nav {
    display: none;
  }

  .language-menu-desktop {
    display: none;
  }

  @media (min-width: 600px) {
    .menu-btn {
      display: block;
    }

    .language-menu-mobile {
      margin-right: 10px;
    }

    .language-menu-mobile select {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) {
    .menu-btn {
      display: none;
    }

    .language-menu-mobile {
      display: none !important;
    }

    .language-menu-desktop {
      display: block;
    }

    .language-menu-desktop {
      display: flex;
      align-items: center;
      margin-left: auto;
    }

    .language-menu-desktop select {
      background: transparent;
      border: none;
      color: inherit;
      font-size: 16px;
      padding: 8px;
      cursor: pointer;
      outline: none;
      -webkit-appearance: none;
      appearance: none;
      width: 50px;
    }

    .language-menu-desktop::before {
      content: '🌐';
      font-size: 20px;
      display: inline-block;
      vertical-align: middle;
      filter: grayscale(100%);
    }

      .language-menu-desktop option {
        background: #ababab;
        color: black;
        padding: 8px;
        font-size: 16px;
      }

      .language-menu-desktop option:hover {
        background: #ababab;
        color: #000;
      }

      .language-menu-desktop option:active {
        background: #ababab;
        color: #000;
      }

    .desktop-nav {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      a {
        color: white;
        text-decoration: none;
        font-size: 22px;
        padding: 10px 15px;
        transition: color 0.3s, background-color 0.3s;

        &:hover,
        &.active {
          background: linear-gradient(135deg, aquamarine, wheat);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .logo-wrapper .logo {
      max-height: 60px;
      margin-left: 4rem;
    }

    .language-menu-desktop select {
      width: 80px;
    }
  }

  @media (min-width: 1200px) {
    .logo-wrapper .logo {
      max-height: 70px;
    }

    .desktop-nav a {
      padding: 10px 20px;
    }
  }

  .language-menu-desktop select {
    width: 100px;
  }
}

.example-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.example-sidenav {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  z-index: 2000; /* Ensure the sidenav is on top of other content */

  a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
    width: -webkit-fill-available;
    text-align: center;

    &:hover,
    &.active {
      color: #ffffff;
      background-color: #07456e;
    }
  }
}
