<header class="navbar">
  <div class="navbar__logo">
    <a href="#home-section" (click)="scrollTo('home-section')">
      <img src="assets/images/logo.jpg" alt="logo.jpg" />
    </a>
  </div>

  <!-- Hamburger Menu for Mobile -->
  <div class="navbar__hamburger" (click)="toggleMenu()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>

  <!-- Mobile Navigation -->
  <nav class="navbar__mobile-nav">
    <div class="navbar__nav-header">
      <div class="navbar__logo">
        <a href="#home-section" (click)="scrollTo('home-section')" (click)="toggleMenu()">
          <img src="assets/images/logo.jpg" alt="logo.jpg" />
        </a>
      </div>
      <div class="navbar__close" (click)="toggleMenu()">
        <span>X</span>
      </div>
    </div>
    <ul>
      <li><a href="#home-section" (click)="scrollTo('home-section')" (click)="toggleMenu()">Home</a></li>
      <li><a href="#about-section" (click)="scrollTo('about-section')" (click)="toggleMenu()">About</a></li>
      <li><a href="#materials-section" (click)="scrollTo('materials-section')" (click)="toggleMenu()">Materials</a></li>
      <li><a href="#delivery-section" (click)="scrollTo('delivery-section')" (click)="toggleMenu()">Delivery</a></li>
      <li><a href="#contact-section" (click)="scrollTo('contact-section')" (click)="toggleMenu()">Contact</a></li>
    </ul>
    <div class="social-open">
      <a href="https://www.facebook.com/3dtara3dprintingservice/" target="_blank"><img src="/assets/images/fb-1.svg" alt="fb.svg"></a>
      <a href="https://www.instagram.com/3dtara3dprintingservice/" target="_blank"><img src="/assets/images/insta-1.svg" alt="ig.svg"></a>
      <a href="https://www.linkedin.com/in/boris-p-06842925a/" target="_blank"><img src="/assets/images/viber.svg" alt="viber.svg"></a>
    </div>
  </nav>

  <!-- Desktop Nav -->
  <nav class="navbar__desktop">
    <ul>
      <li><a href="#home-section" (click)="scrollTo('home-section')">Home</a></li>
      <li><a href="#about-section" (click)="scrollTo('about-section')">About</a></li>
      <li><a href="#materials-section" (click)="scrollTo('materials-section')">Materials</a></li>
      <li><a href="#delivery-section" (click)="scrollTo('delivery-section')">Delivery</a></li>
      <li><a href="#contact-section" (click)="scrollTo('contact-section')">Contact</a></li>
    </ul>
  </nav>
</header>
