  <section class="delivery-wrapper">
    <div class="delivery-intro">
      <h1>{{ 'delivery_h1' | translate }}</h1>
      <p>{{ 'delivery_p1-1' | translate }}.</p>
    </div>

    <div class="delivery-content">
      <div class="delivery-details">
        <div class="delivery-time">
          <h2>{{ 'delivery_h2-1' | translate }}</h2>
          <p>{{ 'delivery_p1-2' | translate }}.</p>
        </div>
        <div class="delivery-time">
          <h2>{{ 'delivery_h2-2' | translate }}</h2>
          <p>{{ 'delivery_p1-3' | translate }}.</p>
          <p>{{ 'delivery_p1-4' | translate }}.</p>
          <p>{{ 'delivery_p1-5' | translate }}.</p>
          <p>{{ 'delivery_p1-6' | translate }}.</p>
        </div>
      </div>

      <div class="cta-section">
        <a href="#contact" (click)="scrollTo('contact-section')" class="cta-button">{{ 'home_a-2' | translate }}</a>
      </div>
    </div>
  </section>
