.delivery-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  padding: 20px;
  text-align: center;
  margin-top: 60px;

  .delivery-intro {
    color: white;
    padding: 40px 20px;
    border-radius: 8px;

    h1 {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1em;
      margin-bottom: 20px;
    }
  }

  .delivery-content {
    display: flex;
    flex-direction: column;
    align-items: center;


    .delivery-photo {
      display: flex;
      flex-direction: row;
      img {
        width: 100px;
        height: 50px;
      }
    }

    .cta-section {
      padding: 40px 20px;

      h2 {
        font-size: 1.6em;
        margin-bottom: 40px;
      }

      .cta-button {
        background: #ff9800;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background 0.3s;

        &:hover {
          background: #e68900;
        }
      }
    }

    .delivery-details {
      .delivery-time,
      .delivery-places,
      .delivery-cargo,
      .delivery-shipping {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;
        text-align: start;

        h2 {
          font-size: 1.4em;
          margin-top: 10px;
        }

        p {
          font-size: 1em;
          color: white;
        }
      }
    }

    .delivery-details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 600px) {
    .delivery-content {
      .delivery-photo {
        img {
          margin-bottom: 30px;
        }
      }
      .delivery-details {
        .delivery-time,
        .delivery-places,
        .delivery-cargo,
        .delivery-shipping {
          width: 80%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .delivery-intro {
      padding: 60px 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        font-size: 2.2em;
      }

      p {
        font-size: 1.2em;
        max-width: 800px;
      }
    }

    .delivery-content {
      .delivery-photo {
        width: 100%;
        justify-content: center;
      }

      .delivery-details {
        width: 100%;
        flex-direction: row;
        align-items: normal;
        gap: 100px;
        flex-wrap: wrap;

        .delivery-time,
        .delivery-places,
        .delivery-cargo,
        .delivery-shipping {
          width: 45%;
        }
      }
    }

    .cta-section {
      padding: 100px 20px 20px 20px !important;
    }
  }

  @media (min-width: 992px) {
    padding-bottom: 100px;
    .delivery-content {
      .delivery-photo {
        width: 48%;
      }

      .delivery-details {
        .delivery-time,
        .delivery-places,
        .delivery-cargo,
        .delivery-shipping {
          width: 45%;
        }
      }
    }

    .delivery-intro {
     width: 70%;
    }
  }

  @media (min-width: 1200px) {
    .delivery-intro {
      padding: 80px 40px;
      width: 50%;

      h1 {
        font-size: 2.5em;
      }

      p {
        font-size: 1.5em;
      }
    }

    .delivery-content {
      .delivery-photo {
        width: 45%;
      }

      .delivery-details {
        .delivery-time,
        .delivery-places,
        .delivery-cargo,
        .delivery-shipping {
          width: 40%;
        }
      }
    }
  }
}
